.container {
  margin: 20px auto;
  width: 60%;
  border: 1px dotted black;
  text-align: center;
  position: absolute;
  padding: 0 1em 1em 1em;
  left: 20%;
}

th {
  text-align: left;
}

.root {
  display: inline-block;
  margin: 0 1em;
  background-color: orange;
  padding: 1em;
  border-radius: 0.5em;
  height: 8em;
  vertical-align: top;
}

.login {

}

.signup {

}

.submit {

}

.logout {
  position: absolute;
  top: 0;
  right: 0;
}

input {
  display: block;
  border-radius: 0.3em;
  margin: 0.2em 0;
}

header {
  float: center;
  font-size: 2.5em;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.homepage {
}

.home {
  display: inline-block;
  float: left;
  width: 50%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

