  <div class="signup-menu">
    <form action="/signup" method="post">
      <input class="field-signup" type="text" name="username" placeholder="username">
      <input class="field-signup" type="password" name="password" placeholder="password">
      <input class="field-signup" type="password" name="password_confirmation" placeholder="confirm password">
      <input class="submit-signup" type="submit" value="signup">
    </form>
  </div>

