<header>UrbanDic™</header>
  <div class="root">
    <form  class="login" action="/login" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input class="submit" type="submit" value="login">
    </form>
  </div>

  <div class="root">
    <form action="/signup" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="password" name="password_confirmation" placeholder="confirm password">
      <input class="submit" type="submit" value="signup">
    </form>
  </div>

